
$background-color: #fcfcfd;

$head-color: #969ba1;
$subtitle-color: #888;
$body-color: #202020;

$cell-border-color: #e1e4e9;
$cell-border: 1px solid $cell-border-color;
$row-background-color: #fff;
$row-hover-color: #fff7e4;
$row-disabled-text-color: #c6c6c6;

$button-filled-color: #4097dc;
$button-border-color: #b9bdc1;
$button-border: 1px solid $button-border-color;
$button-text-color: #fff;

$close-button-size: 3em;

$payment-value-color: #4097dc;

$modal-border-color: #dadde3;
$modal-background-color: #fff;
$modal-overlay-color: rgba(255, 255, 255, 0.78);
$modal-title-background-color: #fbfbfd;
