*, *::before, *::after {
	box-sizing: inherit;
}

html, body, body > div {
	height: 100%;
}

/* temp */

.container {
	div, table {
		outline: 1px dotted;
	}
}

th, td {
	outline: 1px solid blue;
}

/* temp-end */

.table {
	&-title {
		text-align: center;
	}

	&-contents {
		margin: 4em auto;
	}
}

@font-face {
	font-family: 'rouble';
	src: url('../fonts/rouble-webfont.eot');
	src: url('../fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/rouble-webfont.woff') format('woff'), url('../fonts/rouble-webfont.otf') format('opentype'), url('../fonts/rouble-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.rouble {
	font-family: 'rouble';
	font-weight: normal;
	font-style: normal;
}
