*, *::before, *::after {
	box-sizing: inherit;
}

html, body, body > div {
	height: 100%;
}

$background-color: #fcfcfd;
$head-color: #969ba1;
$subtitle-color: #888;
$body-color: #202020;

$cell-border-color: #e1e4e9;
$cell-border: 1px solid $cell-border-color;
$row-background-color: #fff;
$row-hover-color: #fff7e4;
$row-disabled-text-color: #c6c6c6;

$button-filled-color: #4097dc;
$button-border-color: #b9bdc1;
$button-border: 1px solid $button-border-color;

/* temp */

body {
	background-color: $background-color;
}

.container {
	font-family: sans-serif;
	margin: auto;
	width: 80%;
	width: min-content;

	@media (max-width: 1000px) {
		min-width: initial;
	}

	/* div {
		outline: 1px dotted;
	} */
}

th, td {
	/* outline: 1px solid blue; */
}

/* temp-end */

.table {
	&-title {
		text-align: center;
		color: $head-color;

		&__title {
			text-transform: uppercase;
		}

		&__subtitle {
			font-size: .7em;
			color: $subtitle-color;
		}
	}

	&-contents {
		width: 100%;
		margin: 4em auto;
		border-collapse: collapse;

		&__head {
			color: $head-color;
		}

		&__body {
			color: $body-color;

			tr:hover {
				background-color: $row-hover-color;
			}
		}

		&__button {
			background-color: $button-filled-color;
			color: #fff;
			display: inline-block;

			&:hover {
				background-color: lighten($button-filled-color, 10%);
			}
		}

		td {
			white-space: nowrap;
		}

		th, td {
			text-align: right;
			min-width: 120px;
			padding: 1em;
			border: $cell-border;

			@media (max-width: 1300px) {
				min-width: initial;
			}

			&:first-child, &:last-child {
				min-width: initial;
				text-align: center;
			}

			&:nth-child(2) {
				text-align: left;
				border-right-width: 3px;
			}
		}

		&__row {
			background-color: $row-background-color;

			&--focused {
				box-shadow: inset 0 0 1px rgba(128, 128, 128, 0.57), 0 0 2px rgba(128, 128, 128, 0.57);
			}

			&--disabled {
				color: $row-disabled-text-color;

				& .button {
					background-color: lighten($button-filled-color, 30%);
					cursor: not-allowed;
				}
			}
		}
	}

	&-controls {
		&__button {
			&--save {
				background-color: $button-filled-color;
				color: #fff;

				&:hover {
					background-color: lighten($button-filled-color, 10%);
				}
			}

			&--print {
				color: $head-color;

				&:hover {
					background-color: darken($background-color, 5%);
				}
			}

			&:first-child {
				margin-left: 0;
			}
		}
	}
}

.button {
	padding: 1em 1.7em;
	margin: 0 .5em;
	border: $button-border;
	border-radius: 27px/23px;
	text-decoration: none;
	white-space: nowrap;
}

@font-face {
	font-family: 'rouble';
	src: url('../fonts/rouble-webfont.eot');
	src: url('../fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/rouble-webfont.woff') format('woff'), url('../fonts/rouble-webfont.otf') format('opentype'), url('../fonts/rouble-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.rouble {
	font-family: 'rouble';
	font-weight: normal;
	font-style: normal;
}
