*, *::before, *::after {
	box-sizing: inherit;
}

html, body, body > div {
	height: 100%;
}

$background-color: #fcfcfd;
$head-color: #969ba1;
$subtitle-color: #888;
$body-color: #202020;

$cell-border-color: #e1e4e9;
$cell-border: 1px solid $cell-border-color;

$button-filled-color: #4097dc;
$button-border-color: #b9bdc1;
$button-border: 1px solid $button-border-color;

/* temp */

body {
	background-color: $background-color;
}

.container {
	font-family: sans-serif;

	/* div {
		outline: 1px dotted;
	} */
}

th, td {
	/* outline: 1px solid blue; */
}

/* temp-end */

.table {
	&-title {
		text-align: center;
		color: $head-color;

		&__title {
			text-transform: uppercase;
		}

		&__subtitle {
			font-size: .7em;
			color: $subtitle-color;
		}
	}

	&-contents {
		margin: 4em auto;
		border-collapse: collapse;

		&__head {
			color: $head-color;
		}

		&__body {
			color: $body-color;
		}

		th, td {
			text-align: right;
			min-width: 120px;
			padding: 1em;
			border: $cell-border;

			&:last-child {
				text-align: center;
			}

			&:nth-child(-n + 2) {
				text-align: left;
			}

			&:nth-child(2) {
				border-right-width: 3px;
			}
		}
	}

	&-controls {
		&__button {
			padding: 1em 1.7em;
			margin: .5em;
			border: $button-border;
			border-radius: 27px/23px;
			text-decoration: none;

			&--save {
				background-color: $button-filled-color;
				color: #fff;

				&:hover {
					background-color: lighten($button-filled-color, 10%);
				}
			}

			&--print {
				color: $head-color;

				&:hover {
					background-color: darken($background-color, 5%);
				}
			}
		}
	}
}

@font-face {
	font-family: 'rouble';
	src: url('../fonts/rouble-webfont.eot');
	src: url('../fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/rouble-webfont.woff') format('woff'), url('../fonts/rouble-webfont.otf') format('opentype'), url('../fonts/rouble-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.rouble {
	font-family: 'rouble';
	font-weight: normal;
	font-style: normal;
}
